/* Navbar.css */

.navbar {
  padding: 1rem 2rem;
  border-bottom: 1px solid #ccc;
  max-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-color);
  transition: background-color 200ms;
}

/* untuk ukuran hp maka perbesar paddingnya */
@media (max-width: 768px) {
  .navbar {
    padding: 2rem;
  }
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.dark {
  background-color: #292c35;
}

.label {
  width: 36px;
  height: 11px !important;
  background-color: #111;
  display: flex;
  border-radius: 40px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
}

.ball {
  width: 16px;
  height: 16px;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.theme-icon {
  font-size: 18px;
  color: #ffc107;
}

.filter-dropdown,
.manual-capacity {
  display: flex;
  align-items: left;
  flex-wrap: wrap;
  flex-direction: column;
}


.filter-dropdown button,
.manual-capacity input,
.manual-capacity button {
  margin-left: 10px;
}

input[type="text" i] {
  width:35px
}

.filter-dropdown label,
.manual-capacity label {
  margin-right: 10px;
  margin-left: 10px;
}

.dropdown {
  position: relative;
}

.dropdown-toggle {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--text-color);
}

.dropdown-content {
  position: absolute;
  top: 30px; /* Sesuaikan sesuai kebutuhan */
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-content label {
  display: block;
  margin-bottom: 5px;
  padding: 5px;
}

.dropdown-content select {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

.dropdown-content button {
  background-color: #0079bf;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.dropdown-content button:hover {
  background-color: #0056b3;
}
